.containerHome{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2em;
}

.containerHome h1{
    font-size: 2.5rem;
    margin-bottom: 0.5em;
}

.containerHome h1 span {
    background-color: #171717;
    color: #FFD00D;
}

.imgHome{
    width: 20%;
}