.projectsContainer{
    width: 100%;
    padding: 32px;
}

.tittleProjects{
    display: flex;
    justify-content: space-between;
    margin-bottom: 2em;
}

.tittleProjects h1{
    text-decoration: underline #FFD00D;
}
