.cardContainer{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 1em;
}

@media screen and (max-width: 1244px){
    
    .cardContainer{
        grid-template-columns: 1fr 1fr 1fr;
    }
    
}

@media screen and (max-width: 800px){
    
    .cardContainer{
        grid-template-columns: 1fr 1fr;
    }
    
}

@media screen and (max-width: 700px){
    
    .cardContainer{
        grid-template-columns: 1fr;
        width: 60%;
    }
    
}