.container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content:space-between;
    margin: 0 auto;
}

.startFlex{
    justify-content: flex-start;
}

.colunmFlex{
    flex-direction: column;
    justify-content: flex-start;
}

