.container{
    width: 100%;
    display: flex;
    justify-content:space-between;
    margin: 5em auto 0em auto;
}

@media screen and (max-width: 800px){
    .container{
        margin: 3em auto 0em auto;
    }
}