.btn {
    padding: 0.5em 1em;
    margin-top: 0.2em;
    background-color: #171717;
    color: #F9F9F9;
    font-weight: 700;
    text-decoration: none;
    border-radius: 20px;
    transition: 0.5s;
}

.btn:hover{
    color: #FFD00D;
}