.containerSection{
    display: flex;
    width: 100%;
    padding-top: 3em;
    margin:2em auto;
    background-color: #171717;
    border-radius: 10px;
}

.containerSection p {
    font-size: 2em;
    line-height: 1.5em;
    padding-top: 1em;
    color: #f9f9f9;
    padding: 1em;
    
}

.containerSection img{
    width: 30em;
    margin: 0 1.5em;
}