.containerSection{
    display: flex;
    width: 100%;
    padding-top: 3em;
    margin:2em auto;
    background-color: #171717;
    border-radius: 10px;
}

.containerSection p {
    font-size: 2em;
    line-height: 1.5em;
    color: #f9f9f9;
    padding: 1em;
}

.containerSection p span{
    margin-right: 1em;
    color: #FFD00D;
}

.containerSection img{
    width: 25em;
    margin: 1em 1.5em;
}

@media screen and (max-width: 1200px){
    .containerSection{
        padding-top: 1em;
    }
    
    .containerSection p {
        font-size: 1.5em;
        margin-bottom: 0;
    }
    
    .containerSection img{
        width: 20em;
    }
}

@media screen and (max-width: 800px){
    .containerSection{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .containerSection p {
        font-size: 1em;
    }
    
    .containerSection img{
        width: 20em;
    }
}

@media screen and (max-width: 500px){
    .containerSection img{
        width: 12em;
    }
}

